@import "../../global.scss";

.navitem {
    background-color: $secondary-color;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: fit-content;
    margin: 10px;
}

.navitem :hover {
    background-color: $hover-color;
}