@import "../../global.scss";

.navitem {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: fit-content;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;

    &:hover {
        color: magenta;
    }
}
