@import "../../global.scss";

.topbar {
    background-color: $main-color;
    display: flex;
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
    height: $navbar-height;
    z-index: 2;
}

.topbar-right {
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    flex: 50%;
    background-color: orange;
}

.topbar-left {
    flex-direction: row;
    align-items: center;
    display: flex;
    flex: 50%;
    background-color: rgb(39, 84, 231);
}