@import "../../global.scss";

.navbar {
    background-color: $main-color;
    display: flex;
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
    height: $navbar-height;
    z-index: 2;
}

.navbar-right {
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    flex: 50%;
    background-color: orange;
}

.navbar-left {
    flex-direction: row;
    align-items: center;
    display: flex;
    flex: 50%;
    background-color: blue;
}