@import "../../global.scss";

.page-container {
    background-color: bisque;
    width: 100%;
    height: calc(100vh - $navbar-height);
    position: relative;
    top: $navbar-height;
    z-index: -1;
    scroll-snap-align: end;
    scroll-margin-top: $navbar-height;
}

.bgc1 {
    background-color: rgb(14, 55, 167);
}

.bgc2 {
    background-color: rgb(7, 84, 252);
}