$gm-orange: #f7a10c;
$cystorm: #7084dc;
$navbar-background: #232e37;
$navbar-textcolor: #afe8f8;
$navbar-textcolor-hover: #f6feff;
$main-textcolor: #c8e5fb;
$main-font: Verdana, Geneva, Tahoma, sans-serif;

$black-background: url("../images/black_bg.png");
$space-background: url("../images/space_bg.png");
$test-background: url("../images/test_bg.png");

@import "../node_modules/bootstrap/scss/bootstrap.scss";
