@import "variables";


.navbar-brand {
    color: $gm-orange;
    padding: 5px;
    &:hover {
        color: $gm-orange;
        background-color: $secondary;
    }
}

.nav-link {
    color: $navbar-textcolor;
}

.nav-link:hover, .nav-link:focus {
    color: $navbar-textcolor-hover;
    background-image: linear-gradient(to bottom, $navbar-background, #115acd);
}

#main-navbar {
    background-color: $navbar-background;
}

#main-wrapper{
    background-image: $planet-background;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

img.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.contact-link {
    display: inline-block;
}

img.contact-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 64px;
}

.about-container {
    border-color: #0f3f64;
    border-width: 5px;
    border-style: double;
    background: rgba(15, 25, 27, 0.8);
    // opacity: 0.6;
}

.project-card {
    background-image: linear-gradient(to bottom, #0f191b, #0f4d7d);
    color: $main-textcolor;
}

.project-button {
    background-color: $navbar-background;
    color: $main-textcolor;
}

.project-button:hover {
    color: $navbar-textcolor-hover;
    background-image: linear-gradient(to bottom, $navbar-background, #115acd);
}

span, p {
    color: $main-textcolor;
}

h1, h5 {
    color: $main-textcolor;
}