@import "variables";


.navbar-brand {
    color: $gm-orange;
    padding: 5px;
    &:hover {
        color: $gm-orange;
        background-color: $secondary;
    }
}

.nav-link {
    color: $navbar-textcolor;
}

.nav-link:hover, .nav-link:focus {
    color: $navbar-textcolor-hover;
    background-image: linear-gradient(to bottom, $navbar-background, #115acd)
}

img.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-navbar {
    background-color: $navbar-background;
}

#home-container {
    background-image: $planet-background;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#projects-container {
    background-image: linear-gradient(to right, #112f54, $secondary);
}

#about-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bg-gradient-center {
    background-image: linear-gradient($primary, $secondary);
}

span {
    color: $main-textcolor;
}

h1 {
    color: $main-textcolor;
}