@import "variables";


.navbar-brand {
    color: red;
    padding: 5px;
    &:hover {
        background-color: white;
        color: black;
    }
}

.nav-link {
    color: yellow;
}

.nav-link:hover, .nav-link:focus {
    color: black;
    background-color: white;
}

img.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }